* {
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}

html,
body {
    width: 100%;
}

#top {
    padding: 20px;
    width: 100%;
    display: flex;
    background-color: #0D5A49;
}

#logo-title {
    font-size: 40px;
    color: white;
}

#top ul {
    position: absolute;
    right: 0;
    margin-right: 300px;
}

#top ul li {
    font-family: monospace;
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    text-transform: uppercase;
    transition: .5s;
}

#top ul li a {
    color: white;
}

#top a.active {
    background-color: #0A2A0A;
}

#form-search {
    margin-left: 82%;
    margin-top: -65px;
}

#banner {
    margin-top: 50px;
    margin-left: 17%;
}

.img-banner {
    height: 600px;
    width: 1000px;
}

#sp-noi-bac {
    height: 50px;
    width: 600px;
    border: solid #E6E6E6 1px;
    background: #E6E6E6;
    margin-top: 20px;
    margin-left: 400px;
}

#sp-noi-bac .thong-tin {
    margin-left: 30px;
    font-family: monospace;
    font-size: 25px;
}

.products {
    margin-left: 15%;
    margin-top: 40px;
}

.product {
    float: left;
    width: 20%;
    height: 350px;
    margin-right: 20px;
}

.name {
    text-align: center;
}

.price {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.img-product {
    margin-left: 30px;
    height: 260px;
    width: 75%;
}

.footer {
    position: relative;
    font-size: 20px;
    background-color: #363A39;
    height: 100px;
    width: 100%;
    top: 150px;
    margin-top: 50px;
}

.support {
    position: absolute;
}

div>ul>li {
    text-align: center;
    list-style: none;
    color: white;
}

.img {
    margin-left: 20px;
}

.name-product {
    margin-left: 25%;
    font-size: 17px;
    color: black;
}
.noi-dung{
    margin-top: 10px;
    margin-left: 200px;
    height: 800px;
    width: 60%;
}
.anh1{
    height: 200px;
    width: 300px;
}
.noidung1{
    margin-left: 350px;
    margin-top: -210px;
    font-size: 25px;
}
.tin1{
    margin-top: 50px;
    margin-left: 50px;
}
.tin1 p{
    margin-top: 10px;
    font-size: 17px;
}