.header {
    height: 80px;
    width: 100%;
    background-color: #58ACFA;
    border: solid 1px;
}

.header p {
    font-size: 30px;
    margin-left: 100px;
}

.menu {
    border: solid 1px;
    height: 700px;
    width: 300px;
    background-color: whitesmoke;
    display: flex;
}

.menu ul {
    position: absolute;
    list-style: none;
}

.list {
    margin-top: 70px;
}

.menu ul li {
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
}

.form {
    height: 500px;
    width: 450px;
    margin-left: 600px;
    margin-top: -600px;
}

.form-list {
    margin-left: 400px;
}